@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.p-datatable-footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.p-paginator {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px; /* Adjust spacing between paginator buttons */
}

.p-paginator .p-paginator-pages {
  display: flex;
  gap: 4px;
}

.p-paginator .p-paginator-page {
  padding: 0.5rem;
}

@media (max-width: 768px) {
  .p-paginator {
    font-size: 0.8rem; /* Adjust font size on smaller screens */
  }

  .p-paginator .p-paginator-page {
    padding: 0.3rem; /* Adjust padding for smaller screens */
  }
}

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */
